<!DOCTYPE html>
<html>
<head>
  <title>Askalot</title>
  <%= stylesheet_link_tag    "askalot/application", :media => "all" %>
  <%= javascript_include_tag "askalot/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
