<h1>Answers for <%= @questionnaire.title %></h1>

<ol>
  <% @answer.items.group_by {|item| item.option.question }.each do |elem| %>
    <li class='answer'>
      <%= elem[0].text %>
      <%= elem[1].map {|item| item.option.text }.join(', ') %>
    </li>
  <% end %>
</ol>